<html>
    <head>
	<title>API Sample</title>
    </head>
    <body>
	<h3>
	    API Sample</a>
	</h3>


	<table>
	    <thead>
		<tr>
			<th>first name</th>
			<th></th>

			<th></th>
			<th></th>
			
			<th></th>
			<th>last name</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
			<th>age</th>
			<th></th>
			<th></th>
			<th></th>
			<th></th>
		    <th>Address</th>
		</tr>
	    </thead>

	    <tbody>
	    {% for user in filtered_users %}
		<tr>
			<td>{{ user.first_name }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ user.last_name }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td>{{ user.age }}</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		    <td>{{ user.address }}</td>
		</tr>
	    {% endfor %}
	    </tbody>
	</table>


    </body>
</html>